@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #8FB339;
    --color-text-title: #3aaf2f;
    --color-text: #2d373c;
    --text-lighter: #969BA1;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-optical-sizing: auto;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}